<!-- This is how we extend base.html, which is applicable to index.html-->
{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3> Create Record </h3>
        <h5> Start adding required details for your record. </h5>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form3.first_name|as_crispy_field}}
            <br>
            {{form3.last_name|as_crispy_field}}
            <br>
            {{form3.email|as_crispy_field}}
            <br>
            {{form3.phone|as_crispy_field}}
            <br>
            {{form3.address|as_crispy_field}}
            <br>
            {{form3.city|as_crispy_field}}
            <br>
            {{form3.country|as_crispy_field}}
            <br>
            <button type="submit" class="btn btn-primary"> Create record &nbsp; <i class="fa fa-check" aria-hidden="true"></i> </button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
        </form>
    </div>
    <br>
    </body>
{% endblock %}
